@import './src/utility';

header {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 50px;
	background: #f1f2f1;
	text-align: center;
}
section.header {
	position: relative;
}
.header-content-container {
	position: relative;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -200px;
}

header .hello, header .hello img {
	width: auto;
}
.portrait {
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 430px;
	margin-right: -550px;
}

.hello {
	display: inline-block;
	vertical-align: top;
	margin: 0 1%;
	margin-left: -220px;
	color: #222;
	font-family: 'Yanone Kaffeesatz';
	font-weight: 400;
	font-size: 11px;
}

.hello span.hi, .hello p {
	display: inline-block;
}
.giant {
	font-size: 38em;
	font-weight: 300;
} 
.hello p {
	width: 200px;
	font-size: 2.7em;
	text-align: left;
	line-height: 130%;
	margin-left: 20px;
}
.hello .e-label {
	font-weight: 700;
	color: $primary-accent-color;
}