
	<section class="hero is-fullheight is-light header">

		<div class="hero-body ">
			<div class="container has-text-centered">
				<div class="hello">
					<span class="hi giant">Hi,</span>
					<p>I'm <span class="e-label">Emma</span> and I am a <span class="e-label">frontend developer</span> with an interest in interaction design and graphics. Work with me! </p>
				</div>

			</div>
		</div>
		<div class="hero-foot">
			<img class='portrait' src='assets/img/emma2.png'/>
		</div>
	</section>
