
		<div class="row hero">
			<div class="col-md-6 big-left">
				<div class="big-content">
					<h3>Hi, I'm Emma</h3>
					<p>My name is Emma Bäckström and I'm an aspiring web developer. Currently I'm studying media technology engineering and will graduate in spring 2018. I'm passionate about sustainability, feminism and I love to create things with cool people.</p>
					<p class="text-center">
						<a target="_blank" href="https://github.com/emmabckstrm" aria-label="Go to my github account"><i class="fa fa-git-square fa-lg" aria-hidden="true"></i> </a>
						<a target="_blank" href="https://www.linkedin.com/in/emmabackstrom/" aria-label="Go to my linkedin account"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> </a>
					</p>
				</div>
			</div>
			<div class="col-md-6 big-right">
				<div class="portrait-big">
					<img class='portrait ' src='assets/img/emma2.png'/>
				</div><!--
				<div class="portrait-circle rounded-circle hidden-md-up">
					<img class="" src="assets/img/emma3.png"/>
				</div>-->
				
			</div>
		</div>

