<footer class="footer">
	<div class="content-container">
		<div class="columns">
			<div class="column">
				<p>Created with &hearts; by Emma Bäckström</p>
			</div>
			<div class="column has-text-right social-icons">
				<a target="_blank" href="https://github.com/emmabckstrm" aria-label="Go to my github account"><i class="fa fa-git-square fa-lg" aria-hidden="true"></i> </a>
				<a target="_blank" href="https://www.linkedin.com/in/emmabackstrom/" aria-label="Go to my linkedin account"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> </a>
			</div>
		</div>
	</div>
</footer>