<!--<section class="portfolio">
	<div class="content-container">
		<h2 class="text-center header">Portfolio</h2>
		<div class="portfolio-items">
			<app-grid-item *ngFor="let item of portfolioItems" [item]="item"></app-grid-item>
		</div>
	</div>
</section>
-->
<!--<button (click)="addBrick()">Add brick</button>-->
<section class="portfolio">
	<div class="content-container">
		<h2 class="text-center header">Portfolio</h2>

		<button (click)="filter1()">Filter1</button>
		<button (click)="showAll()">Show All</button>

		<masonry [options]="masonryOptions" class="portfolio-items">
			<div class="article-grid-sizer"></div>
			<masonry-brick class="brick" *ngFor="let item of portfolioItems" [item]="item">{{item.title}}</masonry-brick>
		</masonry>
	</div>
</section>