.portfolio-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0 1.6% 30px;
	transition: transform 0.2s ease-in-out;
}
.portfolio-item img {
	display: block;
	width: 100%;
}
.portfolio-item h4 {
	font-weight: 300;
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.portfolio-img { 
	background: pink;
	width: 100%; 
	overflow:hidden;
}
.portfolio-overlay {
	position: absolute;
	color: #fff;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	opacity: 0;
	background: rgba(104,163,148,0.9);
}
.overlay-content {
	width: 80%;
	margin: 30px 10% 0;
}
.portfolio-item:hover { transform: scale(1.05, 1.05); }
.portfolio-item:hover .portfolio-overlay {
	opacity: 1;
}
.portfolio-overlay, .portfolio-item:hover .portfolio-overlay {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}