/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli|Permanent+Marker|Roboto');

body, html {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.content-container {
	width: 90%;
	margin: 0 5%;
}

section {
	display: block;
	padding: 70px 0;
}

h2.header {
	font-family: 'Permanent Marker', cursive;
	font-size: 4.5em;
	margin-bottom: 30px;
}

.aspect-ratio{
	position: relative;
	width: 50%;		/* desired width */
}
.aspect-ratio:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.aspect-ratio-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Aspect ratios */
.ratio2-1:before{
	padding-top: 50%;
}
.ratio1-2:before{
	padding-top: 200%;
}
.ratio4-3:before{
	padding-top: 75%;
}
.ratio16-9:before{
	padding-top: 56.25%;
}