@import url('https://fonts.googleapis.com/css?family=Muli|Permanent+Marker|Roboto:200');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/*@font-face {
  font-family: 'Brusher';
  src: url('assets/fonts/Brusher.otf') format('opentype');
  src: url('assets/fonts/Brusher.ttf')  format('truetype') /* Safari, Android, iOS *
} 

@font-face {
  font-family: 'BeyondTheMountains';
  src: url('assets/fonts/beyond_the_mountains.otf') format('opentype'), 
  src: url('assets/fonts/beyond_the_mountains.ttf')  format('truetype') /* Safari, Android, iOS *
} 
*/